{{>layout/header}}
<table>
    <thead>
    <tr>
        <th>
            STUDENT_ID
        </th>
        <th>
            NAME
        </th>
        <th>
            GRADE
        </th>
        <th>
            BAN
        </th>
        <th>
            NO
        </th>
        <th>
            RF_CARD_SN
        </th>
        <th>
            STATE
        </th>
        <th>
            MODIFIED_DATE
        </th>
        <th>
            STUDENT_MEMO
        </th>
    </tr>
    </thead>
    <tbody>
    {{#student_list}}
        <tr>
            <th>
                {{studentId}}
            </th>
            <th>
                {{name}}
            </th>
            <th>
                {{grade}}
            </th>
            <th>
                {{ban}}
            </th>
            <th>
                {{num}}
            </th>
            <th>
                {{#rf_card_num}}
                {{rf_card_num}}
                {{/rf_card_num}}
            </th>
            <th>
                {{#state}}
                {{state}}
                {{/state}}
            </th>
            <th>
                {{#outDate}}
                {{outDate}}
                {{/outDate}}
            </th>
            <th>
                {{#st_memo}}
                {{st_memo}}
                {{/st_memo}}
            </th>
        </tr>
    {{/student_list}}
    </tbody>
</table>
{{>layout/footer}}