{{>layout/header}}
<form action="/student/findByGradeAndBan" method="GET">
    <p>
        <label>
            학년:
            <input type="number" name="grade" required>
        </label>
    </p>
    <p>
        <label>
            반:
            <input type="number" name="ban" required>
        </label>
    </p>
    <input type="submit" value="검색">
</form>
{{>layout/footer}}