{{>layout/header}}
<table>
    <thead>
    <tr>
        <th>
            STUDENT_ID
        </th>
        <th>
            NAME
        </th>
        <th>
            GRADE
        </th>
        <th>
            BAN
        </th>
        <th>
            NO
        </th>
        <th>
            STATE
        </th>
        <th>
            STUDENT_MEMO
        </th>
        <th>
            SELECT
        </th>
    </tr>
    </thead>
    <tbody>
    {{#student_list}}
        <tr>
            <th>
                {{studentId}}
            </th>
            <th>
                {{name}}
            </th>
            <th>
                {{grade}}
            </th>
            <th>
                {{ban}}
            </th>
            <th>
                {{num}}
            </th>
            <th>
                {{#state}}
                    {{state}}
                {{/state}}
            </th>
            <th>
                {{#st_memo}}
                    {{st_memo}}
                {{/st_memo}}
            </th>
            <th>
                <a href="/gui/point/findByStudentName?studentId={{studentId}}">SELECT</a>
            </th>
        </tr>
    {{/student_list}}
    </tbody>
</table>
<script>
    function select(studentId) {
        window.location.href = "/gui/point/findByStudentName?studentId=" + studentId;
    }
</script>
{{>layout/footer}}