{{>layout/header}}
<table>
    <thead>
    <tr>
        <th>
            STUDENT_ID
        </th>
        <th>
            DATE
        </th>
        <th>
            TIME
        </th>
        <th>
            GRADE
        </th>
        <th>
            TYPE
        </th>
        <th>
            MEMO
        </th>
        <th>
            STATE
        </th>
        <th>
            TERMINAL
        </th>
    </tr>
    </thead>
    <tbody>
    {{#attendance_list}}
        <tr>
            <th>
                {{studentId}}
            </th>
            <th>
                {{inDate}}
            </th>
            <th>
                {{inTime}}
            </th>
            <th>
                {{grade}}
            </th>
            <th>
                {{type}}
            </th>
            <th>
                {{#memo}}
                    {{memo}}
                {{/memo}}
            </th>
            <th>
                {{#state}}
                    {{state}}
                {{/state}}
            </th>
            <th>
                {{#stdName}}
                    {{stdName}}
                {{/stdName}}
            </th>
        </tr>
    {{/attendance_list}}
    </tbody>
</table>
{{>layout/footer}}