body {
    padding: 15px;
    font-family: sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid black;
    font-weight: normal;
}

.black, a {
    color: black;
}

.black {
    text-decoration: none;
}

.gray {
    background: gray;
}