{{>layout/header}}
<h2>
    Welcome!
</h2>
<h4>
    User Domain
</h4>
{{#name}}
    <ul>
        <li>
            User {{name}}({{email}}) login.
        </li>
        <li>
            <a href="/user">User Settings</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
{{/name}}
{{^name}}
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>
{{/name}}
<h4>
    Wanna Web-GUI Application?
</h4>
<ul>
    <li>
        Student
        <ul>
            <li>
                <a href="/gui/student/findAll">findAll</a>
            </li>
            <li>
                <a href="/gui/student/findByState">findByState</a>
            </li>
            <li>
                <a href="/gui/student/findByName">findByName</a>
            </li>
            <li>
                <a href="/gui/student/findByGradeAndBan">findByGradeAndBan</a>
            </li>
        </ul>
    </li>
    <li>
        Point
        <ul>
            <li>
                <a href="/gui/point/findByStudentName">findByStudentName</a>
            </li>
            <li>
                <a href="/gui/point/findByPointRangeAndDateRange">findByPointRangeAndDateRange</a>
            </li>
        </ul>
    </li>
    <li>
        Attendance Record
        <ul>
            <li>
                <a href="/gui/attendance/findByStudentName">findByStudentName</a>
            </li>
            <li>
                <a href="/gui/attendance/findByDateAndStudentId">findByDateAndStudentId</a>
            </li>
            <li>
                <a href="/gui/attendance/findByGradeAndBanAndDate">findByGradeAndBanAndDate</a>
            </li>
        </ul>
    </li>
    <li>
        System
        <ul>
            <li>
                <a href="/gui/system/schoolTime">schoolTime</a>
            </li>
        </ul>
    </li>
</ul>
<h4>
    Wanna API Service?
</h4>
{{>layout/footer}}