{{>layout/header}}
<form action="/gui/attendance/findByName" method="GET">
    <p>
        <label>
            성명:
            <input type="text" name="name" required>
        </label>
    </p>
    <input type="submit" value="검색">
</form>
{{>layout/footer}}