{{>layout/header}}
<table>
    <thead>
    <tr>
        <th>
            STUDENT_ID
        </th>
        <th>
            NAME
        </th>
        <th>
            GRADE
        </th>
        <th>
            BAN
        </th>
        <th>
            NO
        </th>
        <th>
            STATE
        </th>
        <th>
            STUDENT_MEMO
        </th>
        <th>
            SELECT
        </th>
    </tr>
    </thead>
    <tbody>
    {{#student_list}}
        <tr>
            <th>
                {{studentId}}
            </th>
            <th>
                {{name}}
            </th>
            <th>
                {{grade}}
            </th>
            <th>
                {{ban}}
            </th>
            <th>
                {{num}}
            </th>
            <th>
                {{#state}}
                    {{state}}
                {{/state}}
            </th>
            <th>
                {{#st_memo}}
                    {{st_memo}}
                {{/st_memo}}
            </th>
            <th>
                <a href="/gui/attendance/findByName?studentId={{studentId}}">SELECT</a>
            </th>
        </tr>
    {{/student_list}}
    </tbody>
</table>
{{>layout/footer}}